# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Logs
logs/*.log

# Data dumps
data/*.csv
data/*.xlsx
data/*.parquet
trading_platform/data/database/*.sqlite

# OS/editor files
.DS_Store
.vscode/

# Backups
backups/
